:root {
  --main-color: #ffffff;
  --footer-color: #2f303a;
  --font-color: #212121;
  --logo-color: #000000;
  --blue-color: #2196f3;
  --description-color: #757575;
  --button-colr: #f5f4fa;
}

.blue {
  color: var(--blue-color);
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  color: var(--logo-color);
}

.navi {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
  color: var(--font-color);
}

.navi:hover {
  color: var(--blue-color);
}

.contacts {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--description-color);
  text-decoration: none;
}

.contacts:hover {
  color: var(--blue-color);
}

.main-header {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.second-header {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.worker-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.worker-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

.main-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  background-color: var(--blue-color);
  color: var(--main-color);
}

.main-button:hover {
  cursor: pointer;
}

.buttons {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: var(--button-colr);
  cursor: pointer;
}

.buttons:hover {
  background-color: var(--blue-color);
  color: var(--main-color);
  cursor: pointer;
}

.list-header {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
}

.list-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--description-color);
}

.main-description {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.side-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
}

.footer-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  color: var(--main-color);
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  color: var(--main-color);
  opacity: 60%;
}
.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  color: var(--main-color);
}

.footer-contacts:hover {
  color: var(--blue-color);
}
footer {
  background-color: var(--footer-color);
}
